* {
    margin: auto;
}

#tela-inicio {
    display: none;
    height: 400px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffd5f4;
}

#linha-topo{
    display: block;
    background-color: #595baf;
    height: 30px;
    width: 700px;
}

.bolinha {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1f2c5a;
    display: inline-block;
    margin: 8px;
    float: right;
}

#title-inicio {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 100px;
    margin-left: 75px;
    margin-top: 30px;
}

#start-game {
    height: 50px;
    width: 200px;
    margin-top: 60px;
    margin-left: 250px;
    border-radius: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: black;
    background-color: #ffd5f4;
}

#start-game:hover {
    background-color: #747873;
    cursor: pointer;
}

#modal {
    height: 600px;
    width: 700px;
    background-color: #ffd5f4;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20%;
}

body {
    height: 1000px;
    background-image: linear-gradient(45deg, #1f2c5a 10%, #595baf);
}

#qual {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: aliceblue;
}

#answer {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    color: aliceblue;
}

#rgb {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    border: 2px black solid;
}

#bola {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 20px;
}

#reset-game {
    display: block;
    padding: 20px;
    border-radius: 50px;
    color: black;
    font-size: 20px;
}

#title {
    display: flex;
    justify-content: center;
    color: aliceblue;;
    padding: 15px;
}

#score {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: aliceblue;
    margin: 10px;
}

#btnGameOver {
    display: block;
    padding: 20px;
    border-radius: 50px;
    color: black;
    font-size: 20px;
    background-color: #e2e2e2;
    cursor: pointer;
    margin-top: 50px;
}

#btnGameOver:hover {
    background-color: #747873;
}

#scoreboard-final {
    display: block;
    font-size: 80px;
    color: black;
    margin-left: 330px;
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#game-over {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 500%;
    display: block;
    margin-left: 150px;
    margin-top: 30px;
}

#voce-errou {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-left: 250px;
    margin-top: 20px;
}

#sua-pontuacao {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin-left: 275px;
    margin-top: 40px;
}