* {
    margin: auto;
}

body {
    height: 1000px;
    background-image: linear-gradient(45deg,#120a15,#20dad8);
}

#qual {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: aliceblue;
}

#answer {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    color: aliceblue;
}

#rgb {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: -10px;
    color: aliceblue;
    font-size: 30px;
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    border: 2px black solid;
}

#bola {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 20px;
}

#reset-game {
    display: block;
    padding: 20px;
    border-radius: 50px;
    color: black;
    font-size: 20px;
}

#title {
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: #00000d;
    padding: 15px;
}

#score {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: aliceblue;
    margin: 10px;
}